@charset "utf-8";
/* MINDsLab. YMJ. 20191125 */

/* page loading */
.kiosk_face #pageldg{display:block; position:fixed; top:0px; left:0px; width:100%; height:100%; text-align:center; background-color:#fff; z-index:9999; opacity:1.0;}
.kiosk_face #pageldg:before{content:''; position:absolute; top:50%; left:50%; margin:0 0 0 -30px;; border-radius:100%; background:radial-gradient(#e9edf3, #fff); opacity:0; width:60px; height:60px; -webkit-animation:pageldg_wave 1.7s 2.5s linear infinite; animation:pageldg_wave 1.7s 2.5s linear infinite; z-index:444;}
/* keyframes */
@-webkit-keyframes pageldg_wave{
0%  {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
5%  {opacity:1;}
100%{-webkit-transform:scale(1); transform:scale(50); opacity:0;} 
}
@keyframes pageldg_wave{
0%  {-webkit-transform:scale(0); transform:scale(0); opacity:0;}
5%  {opacity:1;}
100%{-webkit-transform:scale(1); transform:scale(50); opacity:0;}
}
.kiosk_face #pageldg span.out_bg{position:absolute; top:50%; width:150px; height:150px; margin:-75px 0 0 -75px; border-radius:150px; background:#ced4db; animation:out_bg 1s 0s ease-in-out both; z-index:555;}
/* keyframes */
@-webkit-keyframes out_bg{
0%{opacity:0; transform:scale(0);}
80%{opacity:0.3; transform:scale(1.2);}
100%{opacity:1; transform:scale(1);}
}
@keyframes out_bg{
0%{opacity:0; transform:scale(0);}
80%{opacity:0.2; transform:scale(1.2);}
100%{opacity:1; transform:scale(1);}
}
.kiosk_face #pageldg span em{overflow:hidden; position:absolute; top:50%; left:50%; width:100px; height:100px; margin:-50px 0 0 -50px; background:rgba(59,68,91,0.25); animation:em_opacity 3s 0.1s ease-in-out both;}
/* keyframes */
@-webkit-keyframes em_opacity{
0%{opacity:0; top:0%;}
20%{opacity:0.3; top:55%;}
30%{opacity:1; top:50%;}
100%{opacity:1; top:50%;}
}
@keyframes em_opacity{
0%{opacity:0; top:0%;}
20%{opacity:0.3; top:55%;}
30%{opacity:1; top:50%;}
100%{opacity:1; top:50%;}
}
.kiosk_face #pageldg span em strong:nth-child(1){content:''; position:absolute; bottom:0%; left:50%; width:60px; height:60px; margin:0 0 0 -35px; border-radius:50px; background:rgba(59,68,91,1.0); animation:st_move_01 1.5s 0.1s ease-in-out both; z-index:888;}
/* keyframes */
@-webkit-keyframes st_move_01{
0%{top:150%;}
100%{top:50%;}
}
@keyframes st_move_01{
0%{bottom:-100px;}
100%{bottom:0;}
}
.kiosk_face #pageldg span em strong:nth-child(2){content:''; position:absolute; top:10px; left:0; width:50px; height:50px; border-radius:50px; background:#00aebc; animation:st_move_02 1s 1s ease-in-out both;}
/* keyframes */
@-webkit-keyframes st_move_02{
0%{top:100px; left:50px;}
100%{top:10px; left:0;}
}
@keyframes st_move_02{
0%{top:100px; left:50px;}
100%{top:10px; left:0;}
}
.kiosk_face #pageldg span em strong:nth-child(3){content:''; position:absolute; top:10px; right:0; width:50px; height:50px; border-radius:10px; background:#008ad8; animation:st_move_03 1s 1.5s ease-in-out both;}
/* keyframes */
@-webkit-keyframes st_move_03{
0%{top:150%;}
40%{top:150%;}
100%{top:50%;}
}
@keyframes st_move_03{
0%{top:100px; right:50px;}
100%{top:10px; right:0;}
}
.kiosk_face #pageldg span em b{content:''; position:absolute; top:50%; left:50%; width:100px; height:100px; margin:-50px 0 0 -50px; background:url("../images/ico_pageldg_bg.png") 50% 50% no-repeat; background-size:cover; z-index:999;}
.pageldg_hide{-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:pageldg_hide; animation-name:pageldg_hide;}
/* keyframes */
@-webkit-keyframes pageldg_hide{
0%{opacity:1;}
100%{opacity:0;}
}
@keyframes pageldg_hide{
0%{opacity:1;}
100%{opacity:0;}
}

.kiosk_face {min-width:1000px;}

/* -------------------- login -------------------- */
.loginWrap {width:100%; height:100%; background:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); background-size:600% 100%; animation:HeroBG 20s ease infinite;}
@-webkit-keyframes HeroBG {
0%   {background-position:0 0;}
50%  {background-position:100% 0;}
100% {background-position:0 0;}
}

@keyframes HeroBG {
0%   {background-position:0 0;}
50%  {background-position:100% 0;}
100% {background-position:0 0;}
}

.loginForm {overflow:hidden; position:absolute; top:50%; left:50%; width:853px; height:416px; margin:-208px 0 0 -426px; border-radius:10px; box-shadow:0 0 30px rgba(0,0,0,0.1); background:#fff;}
.loginForm fieldset {display:block; float:left; width:100%; height:100%;}
.loginForm .loginBox {display:table; width:100%; height:100%;}
.loginForm .fl {display:table-cell;  width:50%; height:100%; padding:0 80px 70px 80px; color:#3b445b; font-size:40px; font-weight:bold; text-align:left; vertical-align:middle; letter-spacing:-1px;}
.loginForm .fl span {display:block; font-size:13px; font-weight:normal; line-height:30px; letter-spacing:0; opacity:0.6;}
.loginForm .fr {display:table-cell; position:relative; width:50%; padding:0 55px; text-align:center; vertical-align:middle;}
.loginForm .fr:before {content:"";position:absolute; left:-1px; bottom:90px; width:1px ; height:240px; background:#d8e2fa;}

.loginForm .fl .sub_logo {margin:10px 0 0 0;}
.loginForm .fr span {display:block; position:relative; margin:10px 0 5px 0; text-align:left;}
.loginForm .fr span .ipt_txt {display:block; width:calc(100% - 45px); height:36px; padding:0 5px 0 40px; line-height:36px; border:2px solid #fff; border-radius:5px; box-shadow:inset 2px 2px 5px rgba(0,0,0,0.1); transition:all 0.3s ease-out;}
.loginForm .fr span #id {background:#e0e9f6 url("../login_asset/ico_mail.png") 10px 50% no-repeat !important;}
.loginForm .fr span #pw {background:#e0e9f6 url("../login_asset/ico_key.png") 10px 50% no-repeat !important;}
.loginForm .fr span input#id:-webkit-autofill{background:#e0e9f6 url("../login_asset/ico_mail.png") 10px 50% no-repeat !important;}
.loginForm .fr span input#pw:-webkit-autofill{background:#e0e9f6 url("../login_asset/ico_key.png") 10px 50% no-repeat !important;}

.loginForm .fr span .ipt_txt:focus {border:2px solid #008ad8; box-shadow:none; background-color:#fff !important; transition:all 0.3s ease-out;}
.loginForm .fr span .ipt_txt.error {border:2px solid #f00; transition:all 0.3s ease-out;}
.loginForm .fr span .rta_txt:focus{border:2px solid #008ad8;}
.loginForm .fr span .chatbot_txt:focus{border:2px solid #6d98fa;}
.loginForm .fr span .voc_txt:focus{border:2px solid #008ad8;}

.loginForm .fr span .txt_error {display:none; position:relative; left:0; color:#f00; text-align:left;}
.loginForm .fr span .disbBox {position:absolute; top:0; left:0; width:100%; height:100%; cursor:pointer;}
.loginForm .fr span .btn_add_account {display:block; width:100%; height:32px; margin:12px 0 0 0; color:#fff; font-size:14px; line-height:32px; border:none; border-radius:3px; background: #2864ff; cursor:pointer; transition:all 0.3s ease-out;}
.loginForm .fr span .btn_login {display:block; width:100%; height:46px; margin:12px 0 0 0; color:#fff; font-size:14px; line-height:46px; border:none; border-radius:3px; background:#3b445b; cursor:pointer; transition:all 0.3s ease-out;}
.loginForm .fr span .btn_login_rta{background:#ff8415;}
.loginForm .fr span .btn_login_chatbot{background:#6d98fa;}
.loginForm .fr span .btn_login_voc{background:#654ccc;}
.loginForm .fr span .btn_login.disabled {height:46px; background:#3b445b;}
.loginForm .fr .btn_forgot {margin:10px 0 0 0; color:#363a44;  text-align:center; background-color:transparent; border:none;}

.copyRight {position:absolute; bottom:20px; width:100%; color:#fff; text-align:center;}

/* -------------------- wrap -------------------- */
#wrap{position:relative; width:100%; min-width:1000px; height:100%;}
#wrap:before{content:''; position:absolute; top:0; left:0; width:100%; height:250px; background:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); background-size:600% 100%; animation:HeroBG 20s ease infinite;}

/* -------------------- header -------------------- */
#header{display:table; position:relative; width:100%; height:80px; z-index:1000; transition:all 0.3s ease-out;}
#header .lot_col02:first-child{display:table-cell; width:200px; text-align:center;}
#header .lot_col02{display:table-cell; vertical-align:middle;}

#header h1{display:block; width:200px;}
#header h1 span{display:block; color:rgba(255,255,255,0.7); font-size:11px; font-weight:normal; line-height:12px; transition:all 0.3s ease-out;}
#header h1 em{display:block; color:rgba(255,255,255,1.0); font-size:15px; font-weight:600; transition:all 0.3s ease-out;}
#header h1 a:hover span, #header h1 a:focus span{color:#00aebc; transition:all 0.3s ease-out;}
#header h1 a:hover em, #header h1 a:focus em{color:#008ad8; transition:all 0.3s ease-out;}

/* header(Service Title Area) */
#header .sta{display:table; width:100%; height:100%;}

/* header(Global Navigation Bar) */
#header .sta .gnb{display:table-cell; min-width:295px; padding:0 20px 0 40px; text-align:center; vertical-align:middle;}
#header .sta .gnb ul.nav_gnb{display:inline-block;}
#header .sta .gnb ul.nav_gnb li{display:inline-block; margin:0 15px 0 0;}
#header .sta .gnb ul.nav_gnb li:last-child{margin:0;}
#header .sta .gnb ul.nav_gnb li a{display:block; height:38px; padding:0 15px; color:rgba(11,42,74,1.0); font-size:15px; font-weight:700; line-height:36px; border-radius:4px; letter-spacing:-2px; transition:all 0.3s ease-out;}
#header .sta .gnb ul.nav_gnb li a:hover, #header .sta .gnb ul.nav_gnb li a:focus{color:rgba(11,42,74,1.0); text-decoration:underline;  transition:all 0.3s ease-out;}
#header .sta .gnb ul.nav_gnb li a.active{background:rgba(255,255,255,0.8);}

/* header(기타:알람,알람내역 프로필, 로그아웃) */
#header .sta .etc{display:table-cell; width:80px; padding:0 50px; text-align:right; vertical-align:middle;}
#header .nav_etc{display:inline-block; text-align:left;}
#header .nav_etc > li{display:inline-block; position:relative; height:100%; margin:0 7px 0 0; vertical-align:middle;}
#header .nav_etc > li:last-child{margin:0;}
#header .nav_etc .lst_dropdown .tit_dropdown{display:block; position:relative;}
#header .nav_etc .lst_dropdown .tit_dropdown .num{display:block; position:absolute; top:1px; right:6px; width:12px; height:12px; color:rgba(255,255,255,0.5); font-size:8px; text-indent:-1px; text-align:center; line-height:12px; border-radius:10px; background:rgba(11,42,74,0.6);}

#header .nav_etc .lst_dropdown .btn_dropdown{display:block; position:relative; overflow:hidden; width:30px; height:30px; margin:5px; border:none; border-radius:50px; background:#fff; background-size:cover !important; opacity:0.7; transition:all 0.3s ease-out;} 
#header .nav_etc .lst_dropdown .btn_dropdown > span{display:block; text-indent:-999px;}
#header .nav_etc .lst_dropdown .btn_dropdown > img{position:absolute; top:0; left:0; width:100%; height:100%;}
#header .nav_etc .lst_dropdown .btn_dropdown:hover, #header .nav_etc .lst_dropdown .btn_dropdown:focus{opacity:1.0; transition:all 0.3s ease-out;}

#header .nav_etc .lst_dropdown .cont_dropdown{display:none; position:absolute; right:0; min-width:270px; border-radius:4px; background:#fff; box-shadow:0 0 15px rgba(11,42,74,0.2);}
#header .nav_etc .lst_dropdown .cont_dropdown .tit{display:block; clear:both; overflow:hidden; padding:10px; border-bottom:1px solid rgba(11,42,74,0.1);}
#header .nav_etc .lst_dropdown .cont_dropdown .tit strong{float:left; height:24px; color:rgba(11,42,74,0.6); font-size:15px; font-weight:300; line-height:22px;}
#header .nav_etc .lst_dropdown .cont_dropdown .svcBox{float:right; padding:3px 10px; color:#fff; font-size:11px; border-radius:4px; background:linear-gradient(45deg, #008ad8, #00aebc);}

#header .nav_etc .lst_dropdown .cont_dropdown .cont{display:block;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst{display:block;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li{display:block; padding:10px; color:rgba(11,42,74,0.3); font-size:13px; border-bottom:1px solid rgba(11,42,74,0.05); transition:all 0.3s ease-out;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li:last-child{border:none;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li a{display:table; width:100%; color:rgba(11,42,74,0.7); transition:all 0.3s ease-out;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li:hover, #header .nav_etc .lst_dropdown .cont_dropdown ul.lst li:focus{background:rgba(11,42,74,0.03); transition:all 0.3s ease-out;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li a:hover, #header .nav_etc .lst_dropdown .cont_dropdown ul.lst li a:focus{color:rgba(11,42,74,1.0); text-decoration:underline; transition:all 0.3s ease-out;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li a span{display:table-cell;}

#header .nav_etc .lst_dropdown.ico_alarm .btn_dropdown{border-radius:0; background:url("../images/ico_bell_bk.png") 50% 50% no-repeat;}
#header .nav_etc .lst_dropdown.ico_avatar .btn_dropdown{background:url("../images/ico_avatar_bk.png") 50% 50% no-repeat;}

#header .nav_etc .lst_dropdown.ico_avatar .cont_dropdown{min-width:150px;}

#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li a.ico_profile:before{content:''; display:inline-block; width:15px; height:15px; margin:-2px 7px 0 0; vertical-align:middle; background:url("../images/ico_setup_bk.png") 50% 50% no-repeat; background-size:cover; opacity:0.5;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li a.ico_logout:before{content:''; display:inline-block; width:15px; height:15px; margin:-2px 7px 0 0; vertical-align:middle; background:url("../images/ico_logout_bk.png") 50% 50% no-repeat; background-size:cover; opacity:0.5;}

/* -------------------- container -------------------- */
#container{position:relative; display:table; width:100%; height:calc(100% - 100px); vertical-align:top;}

/* container(contents) */
#contents{display:table-cell; width:calc(100% - 200px);}

/* contents(content) */
.content{display:block; width:1024px; margin:0 auto;}

/* section */
.stn{display:block; margin:0 0 20px 0;}
.stn .stn_tit{display:block; position:relative;}
.stn .stn_tit h3{display:inline-block; color:rgba(255,255,255,1.0); font-size:16px; font-weight:500;}
.stn .stn_cont{display:block; position:relative;}

/* section(content Box Type) */
.stn.contBoxType{}
.stn.contBoxType .stn_tit{display:block; clear:both; padding:15px 0 10px 0;}
.stn.contBoxType .stn_tit h4{}
.stn.contBoxType .stn_cont{display:block; clear:both; overflow:hidden; padding:24px; border-radius:4px; background:#fff; box-shadow:0 0 15px rgba(11,42,74,0.2);}
.stn.contBoxType .stn_cont .txt{display:block; padding:0 0 10px 0; color:rgba(11,42,74,0.6); font-size:13px; line-height:22px;}
.stn.contBoxType .stn_cont .txt_bg{display:block; margin:5px 0 0 0; padding:10px; color:rgba(11,42,74,0.6); font-size:13px; line-height:22px; background:rgba(11,42,74,0.07);}
.stn.contBoxType .stn_cont dl.dl_lst{display:block; margin:0 0 25px 0;}
.stn.contBoxType .stn_cont dl.dl_lst > dt{display:block; margin:0 0 5px 0; padding:5px 10px; color:#fff; font-size:13px; font-weight:500; background:rgba(11,42,74,0.7);}
.stn.contBoxType .stn_cont dl.dl_lst > dd{display:block; padding:4px 15px; color:rgba(11,42,74,0.6); font-size:13px; line-height:22px;}
.stn.contBoxType .stn_cont dl.dl_lst:last-child{margin:0;}
.stn.contBoxType .stn_cont dl.dl_lst>dd>dl.dl_lst>dt{display:block; margin:0; padding:0; color:rgba(11,42,74,1.0); font-size:13px; font-weight:500; background:none;}

.stn.contBoxType .stn_cont dl.dl_lst dd .tbl_line_lst,.stn.contBoxType .stn_cont dl.dl_lst dd .tbl_line{background:#fff; table-layout:fixed;}
.stn.contBoxType .stn_cont dl.dl_lst dd .tbl_line_lst caption,.stn.contBoxType .stn_cont dl.dl_lst dd .tbl_line caption{color:rgba(11,42,74,1.0); font-size:12px; text-align:left;}
.stn.contBoxType .stn_cont .tbl_des {color:rgba(11,42,74,0.5); font-size:11px; text-align:right;}
.stn.contBoxType .stn_cont .img_des {color:rgba(11,42,74,0.5); font-size:11px; text-align:left;}

.stn.contBoxType .stn_cont dl.dl_img_lst{padding:5px 0; background:#fff;}
.stn.contBoxType .stn_cont dl.dl_img_lst dt{padding:0 0 3px 0; color:rgba(11,42,74,0.5); font-size:12px; text-align:left;}

.stn.contBoxType .stn_cont .txt + ul.lst {margin:0 0 10px 0; padding:0 5px;}
.stn.contBoxType .stn_cont .txt + dl.dl_lst {padding:10px 0;}
.stn.contBoxType .stn_cont ul.lst{display:block;}
.stn.contBoxType .stn_cont ul.lst>li{display:block; position:relative; padding:0 0 7px 10px; color:rgba(11,42,74,0.6); font-size:13px; line-height:20px;}
.stn.contBoxType .stn_cont ul.lst>li:last-child{padding-bottom:0;}
.stn.contBoxType .stn_cont ul.lst>li:before{content:'ㆍ'; position:absolute; top:-1px; left:-13px; font-family:"Spoqa Han Sans", sans-serif; color:rgba(11,42,74,0.3); font-size:30px;}
.stn.contBoxType .stn_cont ul.lst>li>ul>li{display:block; position:relative; padding:0 0 0 10px; color:rgba(11,42,74,0.6); font-size:13px; line-height:22px;}
.stn.contBoxType .stn_cont ul.lst>li>ul>li:before{content:'-'; position:absolute; top:-1px; left:0px; font-family:"Spoqa Han Sans", sans-serif; color:rgba(11,42,74,0.3); font-size:14px;}
.stn.contBoxType .stn_cont ol.ol_lst{display:block; padding:5px 0;}
.stn.contBoxType .stn_cont ol.ol_lst>li{display:block; position:relative; padding:0 0 0 10px; color:rgba(11,42,74,0.6); font-size:13px; line-height:22px;}
.stn.contBoxType .stn_cont .lot_half{ display:table-cell;}
.stn.contBoxType .stn_cont .lot_half:first-child{float:left; width:50%; width:calc(50% - 15px); padding:0 15px 0 0; vertical-align:top;} 
.stn.contBoxType .stn_cont .lot_half:last-child{float:right; width:50%; width:calc(50% - 15px); padding:0 0 0 15px; vertical-align:top;}
.stn.contBoxType .stn_cont .lot_half dt{display:block; margin:0 0 7px 0; padding:3px 10px; color:#fff; background:rgba(11,42,74,0.5);}
.stn.contBoxType .stn_cont a.link{display:inline-block; color:#008ad8; text-align:left;}
.stn.contBoxType .stn_cont a.link:hover, .stn.contBoxType .stn_cont a.link:focus{text-decoration:underline;}
.stn.contBoxType .stn_cont dl.dl_lst dd .tbl_line_lst pre{line-height:20px; vertical-align:top;}

.stn.contBoxType .stn_cont .helpBox{display:table; width:calc(100% - 4px); margin:10px 0 0 0; padding:10px 0; border:2px dotted rgba(11,42,74,0.2); background:rgba(0,138,216,0.05); opacity:0.7;}
.stn.contBoxType .stn_cont .helpBox.ico_warn{border:2px dotted rgba(218,42,44,0.2); background:rgba(218,42,44,0.05);}
.stn.contBoxType .stn_cont .helpBox dt{display:table-cell; width:85px; height:50px; padding:0 10px; font-size:14px; text-align:left; vertical-align:middle;}
.stn.contBoxType .stn_cont .helpBox.ico_refer dt{background:url("../images/ico_refer_bk.png") right 10px top 50% no-repeat; background-size:50px auto;}
.stn.contBoxType .stn_cont .helpBox.ico_warn dt{background:url("../images/ico_warn_bk.png") right 10px top 50% no-repeat; background-size:50px auto;}
.stn.contBoxType .stn_cont .helpBox dd{display:table-cell; padding:0 10px 0 20px; vertical-align:middle;}

.resultLst span {display:inline-block; position:relative; overflow:hidden; width:80px; margin:0 10px 10px 0; padding:7px 15px 7px 7px; color:rgba(11,42,74,1.0); border:1px solid rgba(11,42,74,0.2); border-radius:20px; background:#fff;  text-overflow:ellipsis; word-wrap:normal; white-space:nowrap;}
.resultLst span:before {content:''; display:inline-block;  width:18px; height:18px; margin:-2px 10px 0 0; vertical-align:middle; letter-spacing:-1px; background:url("../images/ico_avatar_bk.png") 50% 50% no-repeat; background-size:cover; opacity:0.3;}
.resultLst span:hover{box-shadow:0 3px 3px rgba(11,42,74,0.05);}

/* Input */
.iptBox{display:table; position:relative; width:100%;}
.iptBox + .iptBox {margin:10px 0 0 0;}
.iptBox > label {display:block; padding:0 0 5px 0; color:rgba(11,42,74,1.0); font-size: 14px;}
.iptBox .ipt_txt{display:block; width:calc(100% - 12px); height:32px; padding:0 5px; color:rgba(59,68,91,1.0); font-size:13px; border:1px solid rgba(59,68,91,0.2); border-radius:5px; transition:all 0.3s ease-out;}
.iptBox .ipt_txt:focus{border:1px solid rgba(59,68,91,0.4); box-shadow:0 2px 3px rgba(59,68,91,0.1); transition:all 0.3s ease-out;}
.iptBox .ipt_txt:disabled{background:rgba(59,68,91,0.1);}
.iptBox .ipt_txt + span{display:inline-block; margin:0 5px;}
.iptBox .btn_srch{position:absolute; top:0; right:0; overflow:hidden; width:70px; height:34px; color:#fff; font-size:11px; border:none; border-radius:0 5px 5px 0; background:rgba(59,68,91,0.5); transition:all 0.3s ease-out;}
.iptBox .btn_srch:hover, .iptBox .btn_srch:focus{text-decoration:underline; background:rgba(59,68,91,0.8); transition:all 0.3s ease-out;}

.iptBox .ipt_txt.error{border:1px solid rgba(255,0,0,1.0) !important;}
.iptBox .error_msg{display:block; padding:3px 0 0 0; color:rgba(255,0,0,1.0); font-size:12px; word-break:keep-all;}
.stn_cont .btnBox {margin:20px 0 0 0; padding:20px 0 0 0; text-align:right; border-top:1px solid rgba(11,42,74,0.05);}

.filebox {display:table; position:relative; width:100%; margin:10px 0 0 0;}
.filebox input[type="file"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.filebox > span {display:block; padding:0 0 5px 0; color:rgba(11,42,74,1.0); font-size: 14px;}
.filebox label {display:inline-block; width:90px; padding:7px 0; color:#fff; text-align:center; font-size:inherit; line-height:normal; vertical-align:middle; background:linear-gradient(45deg, #008ad8, #00aebc); cursor:pointer; border:1px solid rgba(59,68,91,0.2); border-radius:0 5px 5px 0;} /* named upload */ 
.filebox .upload-name {display:inline-block; width:calc(100% - 116px); padding:7px 10px; /* label의 패딩값과 일치 */ font-size:inherit; font-family:inherit; line-height:normal; vertical-align:middle; background-color:#f5f5f5; border:1px solid rgba(59,68,91,0.2); border-radius:5px 0 0 5px; -webkit-appearance:none; /* 네이티브 외형 감추기 */ -moz-appearance:none; appearance:none;}

/* checkBox */
.checkBox{display:inline-block; position:relative; margin:0 10px 0 0;}
.checkBox input[type="checkbox"]{position:absolute; overflow:hidden; width:1px; height:1px; padding:0; margin:-1px; clip:rect(0,0,0,0); border:0;} 
.checkBox input[type="checkbox"] + label{display:inline-block; position:relative; margin:0 10px 0 0; padding-left:25px; font-size:13px; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.checkBox input[type="checkbox"] + label:before{content:''; position:absolute; top:-2px; left:0; width:19px; height:19px; line-height:17px; text-align:center; border:1px solid rgba(59,68,91,0.4); border-radius:3px; background:#fff;}
.checkBox input[type="checkbox"] + label:active:before, .checkBox input[type="checkbox"]:checked + label:active:before{}
.checkBox input[type="checkbox"]:focus + label {text-decoration:underline;}
.checkBox input[type="checkbox"]:focus + label:before {border-color:#008ad8;}
.checkBox input[type="checkbox"]:checked + label:before{content:'\2714'; color:#fff;  border-color:#008ad8; background:#008ad8;}
.checkBox input[type="checkbox"]:disabled + label:before{background:rgba(59,68,91,0.1);}

/* -------------------- Layer Popup -------------------- */
.lyrWrap{display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:9999;}
.lyrWrap .lyr_bg{position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.85);}
.lyrWrap .lyr_bg.ie9{position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,1.0);}
.lyrBox{display:none; overflow:hidden; position:absolute; top:50px; left:50%; width:500px; margin:0 0 0 -250px; border-radius:5px; box-shadow:0 0 15px rgba(59,68,91,0.3); -webkit-animation:lyr_show 0.3s 0s ease-out; animation:lyr_show 0.3s 0s ease-out;}
/* keyframes */
@-webkit-keyframes lyr_show{
0%{top:30px; opacity:0;}
100%{top:50px; opacity:1;}
}
@keyframes lyr_show{
0%{top:30px; opacity:0;}
100%{top:50px; opacity:1;}
}
.lyrBox .lyr_top{clear:both; overflow:hidden; height:35px; padding:5px; background:#008ad8;}
.lyrBox .lyr_top h3{float:left; padding:5px;color:#fff; font-size:16px;}
.lyrBox .lyr_top .btn_lyr_close{position:relative; overflow:hidden; float:right; width:25px; height:25px; margin:3px 5px 0 0; text-indent:-99px; border:none; background:none; opacity:0.3; transition:all 0.3s ease-out; cursor:pointer;}
.lyrBox .lyr_top .btn_lyr_close:hover, .lyrBox .lyr_top .btn_lyr_close:focus{opacity:0.7; transition:all 0.3s ease-out;}
.lyrBox .lyr_top .btn_lyr_close:before{content:''; position:absolute; top:50%; left:0%; width:100%; height:2px; background:#fff; border-radius:5px; transform:rotate(45deg);}
.lyrBox .lyr_top .btn_lyr_close:after{content:''; position:absolute; top:50%; left:0%; width:100%; height:2px; border-radius:5px; background:#fff; transform:rotate(-45deg);}

.lyrWrap .lyrBox .lyr_mid{display:block; padding:20px; background:#fff;}
.lyrWrap .lyrBox .lyr_mid .dlBox {display:table; width:100%; margin:0 0 15px 0;}
.lyrWrap .lyrBox .lyr_mid .dlBox:last-child {margin:0;}
.lyrWrap .lyrBox .lyr_mid .dlBox dt {display:table-cell; width:55px; padding:0 10px 0 0; color:rgba(59,68,91,1.0); font-size:13px; text-align:right; vertical-align:top; line-height:30px;}
.lyrWrap .lyrBox .lyr_mid .dlBox dd {display:table-cell; vertical-align:middle;}
.lyrWrap .lyrBox .lyr_mid .legacy-browser{display:block; font-size:14px; line-height:20px;}
.lyrWrap .lyrBox .lyr_mid .legacy-browser a{ color:#008ad8;}
.lyrWrap .lyrBox .lyr_mid .legacy-browser a:hover, .lyrWrap .lyrBox .lyr_mid .legacy-browser a:focus{text-decoration:underline;}
.lyrWrap .lyrBox .lyr_mid .preview{display:block; margin:0 0 5px 0; color:rgba(59,68,91,0.4); font-size:50px; text-align:center;}
.lyrWrap .lyrBox .lyr_mid .codeview{display:block; padding:10px;}
.lyrWrap .lyrBox .lyr_mid .codeview pre{display:block; padding:10px; font-size:14px;}
.lyrWrap .lyrBox .lyr_btm{display:block; padding:12px 7px; text-align:center; background:#f1f1f1;}
.lyr_hide{-webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:lyr_hide; animation-name:lyr_hide;}
/* keyframes */
@-webkit-keyframes lyr_hide{
0%{opacity:1;}
100%{opacity:0;}
}
@keyframes lyr_hide{
0%{opacity:1;}
100%{opacity:0;}
}

/* button */
.btnBox{display:block;}
.btnBox button{display:inline-block; height:100%; margin:0 10px 0 0; padding:0 20px; font-size:13px; text-align:center; border:1px solid #999; border-radius:5px; transition:all 0.3s ease-out;}
.btnBox button:hover, .btnBox button:focus{text-decoration:underline; box-shadow:0 2px 4px rgba(11,42,74,0.4); transition:all 0.3s ease-out;}
.btnBox button span{display:block; line-height:12px;}
.btnBox button img{vertical-align:middle;}
.btnBox button:disabled{cursor:default;}
.btnBox button:disabled:hover, .btnBox button:disabled:focus{text-decoration:none; box-shadow:none;}
.btnBox button:last-child{margin-right:0;}

.btnBox.sz_large button{min-width:120px; height:46px; line-height:44px;}
.btnBox.sz_large button img{display:inline-block; width:18px; margin:-3px 7px 0 0;}
.btnBox.sz_regular button{min-width:95px; height:38px; line-height:36px;}
.btnBox.sz_regular button img{display:inline-block; width:16px; margin:-3px 7px 0 0;}
.btnBox.sz_small button{min-width:70px; height:32px; padding:0 15px; font-size:12px;}
.btnBox.sz_small button img{display:inline-block; width:13px; margin:-3px 7px 0 0;}

button.btnS_basic{color:#fff; border:1px solid #008ad8; background:linear-gradient(45deg, #008ad8, #00aebc);}
button.btnS_basic:disabled{color:rgba(11,42,74,0.4); border:1px solid rgba(11,42,74,0.02);  background:rgba(11,42,74,0.1);}
button.btnS_line{color:#008ad8; border:1px solid #008ad8; background:#fff;}
button.btnS_line:disabled{color:rgba(11,42,74,0.25); border:1px solid rgba(11,42,74,0.2); background:#fff;}

button.btnR_basic{color:#fff; border:1px solid #008ad8; border-radius:50px; background:linear-gradient(45deg, #008ad8, #00aebc);}
button.btnR_basic:disabled{color:rgba(11,42,74,0.4); border:1px solid rgba(11,42,74,0.02); border-radius:50px; background:rgba(11,42,74,0.1);}
button.btnR_line{color:#008ad8; border:1px solid #008ad8; border-radius:50px; background:#fff;}
button.btnR_line:disabled{color:rgba(11,42,74,0.25); border:1px solid rgba(11,42,74,0.2); border-radius:50px; background:#fff;}

button.btnC_basic{width:80px; min-width:80px !important; height:80px !important; padding:0; color:#fff; border:1px solid #008ad8; border-radius:50px; background:linear-gradient(45deg, #008ad8, #00aebc);}
button.btnC_basic img{width:30px !important; margin:0 0 5px 0 !important;}
button.btnC_basic:disabled{color:rgba(11,42,74,0.4); border:1px solid rgba(11,42,74,0.02); border-radius:50px; background:rgba(11,42,74,0.1);}
button.btnC_basic img.onlyImg, button.btnC_basic:disabled img.onlyImg{width:45px !important; margin:0 !important;}

button.btnC_line{width:80px; min-width:80px !important; height:80px !important; padding:0; color:#008ad8; border:1px solid #008ad8; border-radius:50px; background:#fff;}
button.btnC_line img{width:30px !important; margin:0 0 5px 0 !important;}
button.btnC_line:disabled{color:rgba(11,42,74,0.25); border:1px solid rgba(11,42,74,0.2); border-radius:50px; background:#fff;}
button.btnC_line img.onlyImg, button.btnC_line:disabled img.onlyImg{width:45px !important; margin:0 !important;}
button.btnC_line:disabled img, button.btnC_line:disabled img.onlyImg{opacity:0.5;}

/* -------------------- footer -------------------- */
#footer{display:block; position:relative; height:19px; font-size:11px; text-align:center; border-top:1px solid #eef1f7; background:#fff;}
#footer .cyrt{display:inline-block; color:rgba(11,42,74,0.6); font-size:9px; line-height:17px;}

@media screen and (max-width:768px) {
    .kiosk_face {min-width:320px;}
    .loginForm { position:absolute; top:0; left:0; width:calc(100% - 80px); height:calc(100% - 200px); margin:20px; padding:20px;}
    .loginForm .fl {display:table-row; width:100%; height:150px; padding:0; text-align:center;}
    .loginForm .fl span {line-height:40px;}
    .loginForm .fr {display:table-row; position:relative; width:100%; padding:0;}
    .loginForm .fr:before { top:130px; left:0; bottom:auto; width: 100%; height:2px;}
    .copyRight {position:relative; bottom:40px;}
    
    #wrap {min-width:320px;}
    .content {width:calc(100% - 40px); padding:30px 20px;}
    #header .lot_col02:first-child {width:100px;}
    #header h1 {width:100px; margin:0 0 0 20px;}
    #header .sta .etc {padding:0 20px 0 0}
    #header .sta .gnb {min-width:auto; padding:0 20px;}
    #header .sta .gnb ul.nav_gnb li a {padding:0 5px;}
}


/*...*/
table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}
th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
}







