<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<!-- Cache reset -->
<meta http-equiv="Expires" content="Mon, 06 Jan 2016 00:00:01 GMT">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
</head>
<body>
<span style="visibility: hidden; height: 0px; overflow: hidden" id="login_admin_id">((login_ID))</span>
<span style="visibility: hidden; height: 0px; overflow: hidden" id="login_admin_pw">((login_KEY))</span>

<ul id="admin_ul" style="width: 100%; height: 100%; padding: 0; margin:0">
    <h1>관리자 페이지</h1><br>
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td style="background-color: black; color: white"> user_pk</td>
                <td style="background-color: black; color: white">user_id</td>
                <td style="background-color: black; color: white">user_name</td>
                <td style="background-color: black; color: white">전화번호</td>
                <td style="background-color: black; color: white">호텔이름</td>
                <td style="background-color: black; color: white">마케팅 수신여부</td>
                <td style="background-color: black; color: white">가입일자</td>
                <td style="background-color: black; color: white">처리</td>
            </tr>
            <tr v-for="(ot, index) in overall_table">
                <td style="background-color: #eaeaea;">{{ot[0]}}</td>
                <td style="background-color: #eaeaea;">{{ot[1]}}</td>
                <td style="background-color: #eaeaea;">{{ot[2]}}</td>
                <td style="background-color: #eaeaea;">{{ot[3]}}</td>
                <td style="background-color: #eaeaea;">{{ot[4]}}</td>
                <td style="background-color: #eaeaea;" v-if="ot[5]==1">YES</td>
                <td style="background-color: #eaeaea;" v-else>NO</td>
                <td style="background-color: #eaeaea;">{{ot[6]}}</td>
                <td style="background-color: #eaeaea; cursor:pointer; font-weight:bold; color: blue" v-if="ot[7]=='1'" v-on:click="checkUser(ot[2], ot[0])">가입신청 확인</td>
                <td style="background-color: #eaeaea; cursor:pointer; font-weight:bold; color: black" v-else-if="ot[7]=='3'">관리자 계정</td>
                <td style="background-color: #eaeaea; cursor:pointer; font-weight:bold; color: #717171" v-else-if="ot[7]=='99'">삭제된 계정</td>
                <td style="background-color: #eaeaea; cursor:pointer; font-weight:bold; color: red" v-else v-on:click="delUser(ot[2], ot[0])"> 계정 삭제하기 </td>
            </tr>
        </tbody>
    </table>
</ul>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js'></script>
<script src='./js/admin_js.js'></script>
</body>
</html>
