<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<!-- Cache reset -->
<meta http-equiv="Expires" content="Mon, 06 Jan 2016 00:00:01 GMT">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<!-- icon_favicon -->
{#<link rel="shortcut icon" type="image/x-icon" href="login_asset/ico_favicon_60x60.png">#}
<!-- css -->
<link rel="stylesheet" type="text/css" href="login_css/font.css">
<link rel="stylesheet" type="text/css" href="login_css/reset.css">
<link rel="stylesheet" type="text/css" href="login_css/kiosk_face.css">
	<link rel="stylesheet" type="text/css" href="login_css/login_over.css">
	<link rel="stylesheet" type="text/css" href="static/css/logincss.css">
</head>
<body>
<span style="visibility: hidden; height: 0px; overflow: hidden" id="message_to_alert">((message_alert))</span>
<ul id="login_main_ul" style="width: 100%; height: 100%">
	<div class="loginWrap">
		<form action="/login" class="loginForm" id="loginForm" name="form-login" method="post" v-if="!(nowAddAccount)">
			<fieldset  >
				<legend>Login</legend>
				<div class="loginBox">
					<div class="fl"><span>MINDsLab </span>HOSS</div>
					<div class="fr">
						<span>
							<input type="text" name="id" id="id" class="ipt_txt" placeholder="ID" autocomplete="off">
						</span>
						<span>
							<input type="password" name="pw" id="pw" class="ipt_txt" placeholder="KEY" autocomplete="off">
						</span>
						<span class="checkBox">
	<!--						<input type="checkbox" name="ipt_check" id="ipt_check" class="ipt_check">-->
	<!--                    	<label for="ipt_check">아이디 저장</label>-->
						</span>
						<span>
							<!-- [D] 로그인 에러메세지 (성공:display:none, 실패:display:block) -->
							<em class="txt_error">아이디 또는 비밀번호를 다시 확인하세요.<br>등록되지 않은 이메일이거나, 이메일 또는 비밀번호를 잘못 입력하셨습니다.</em>
							<button type="submit" name="btn_login" id="btn_login" class="btn_login">Login</button>
							<button name="btn_add_account" id="btn_add_account" class="btn_add_account" onclick="addAccountToggle()">Add Account</button>
						</span>
					</div>
				</div>
			</fieldset>
		</form>
	</div>


	<div id="addAccountOverlay" v-if="nowAddAccount">
                 <div style="box-shadow: 0 6px 10px -4px rgba(0,0,0,.15); background-color: white; border-radius: 10px; position: absolute; top: 50%; left: 50%; width: 600px; height: 600px; margin:-300px 0 0 -300px; text-align: center;">
				 	<div style="display: inline-block; width: 90%; height: 80%; padding: 10px; margin-top: 5%; overflow-y: scroll; overflow-x: hidden">
						<table style="border: 0px">
							<tbody>
								<tr style="border: 0px">
									<td style="border: 0px; padding-bottom: 24px" colspan="3">
										<div style="text-align: center">
											<div style="width: 90%; text-align: left; padding-left: 120px;"><span style="font-size: 12px; color: #636363;align-self: flex-start">이메일 주소</span></div>
											 <label class="field a-field a-field_a1" style="display: inline-block">
													<input class="field__input a-field__input" placeholder="이메일 주소" value="" required style="height: 30px; width: 340px;" v-model="email_id">
													<span class="a-field__label-wrap"></span>
											 </label>
									 	</div>
									</td>
								</tr>
								<tr>
									<td style="border: 0px; padding-bottom: 24px" colspan="3">
										<div style="text-align: center">
										 <div style="width: 90%; text-align: left; padding-left: 120px;"><span style="font-size: 12px; color: #636363;align-self: flex-start">비밀번호 설정</span></div>
										 <label class="field a-field a-field_a1" style="display: inline-block">
												<input class="field__input a-field__input" placeholder="비밀번호 설정" value="" required style="height: 30px; width: 340px;" v-model="password" type="password">
												<span class="a-field__label-wrap"></span>
										 </label>
									 	</div>
									</td>
								</tr>
								<tr>
									<td style="border: 0px; padding-bottom: 24px" colspan="3">
										<div style="text-align: center">
										 <div style="width: 90%; text-align: left; padding-left: 120px;"><span style="font-size: 12px; color: #636363;align-self: flex-start">비밀번호 재확인</span></div>
										 <label class="field a-field a-field_a1" style="display: inline-block">
												<input class="field__input a-field__input" placeholder="비밀번호 재확인" value="" required style="height: 30px; width: 340px;" v-model="password_recheck" type="password">
												<span class="a-field__label-wrap"></span>
										 </label>
									 	</div>
									</td>
								</tr>
								<tr>
									<td style="border: 0px; padding-bottom: 24px" colspan="3">
										<div style="text-align: center">
										 <div style="width: 90%; text-align: left; padding-left: 120px;"><span style="font-size: 12px; color: #636363;align-self: flex-start">관리자 이름</span></div>
										 <label class="field a-field a-field_a1" style="display: inline-block">
												<input class="field__input a-field__input" placeholder="관리자 이름" value="" required style="height: 30px; width: 340px;" v-model="person_name">
												<span class="a-field__label-wrap"></span>
										 </label>
									 	</div>
									</td>
								</tr>
								<tr>
									<td style="border: 0px; padding-bottom: 24px" colspan="3">
										<div style="text-align: center">
										 <div style="width: 90%; text-align: left; padding-left: 120px;"><span style="font-size: 12px; color: #636363;align-self: flex-start">관리자 연락처</span></div>
										 <label class="field a-field a-field_a1" style="display: inline-block">
												<input class="field__input a-field__input" placeholder="관리자 연락처" value="" required style="height: 30px; width: 340px;" v-model="person_phone">
												<span class="a-field__label-wrap"></span>
										 </label>
									 	</div>
									</td>
								</tr>
								<tr>
									<td style="border: 0px; padding-bottom: 52px" colspan="3">
										<div style="text-align: center">
										 <div style="width: 90%; text-align: left; padding-left: 120px;"><span style="font-size: 12px; color: #636363;align-self: flex-start">숙소 이름</span></div>
										 <label class="field a-field a-field_a1" style="display: inline-block">
												<input class="field__input a-field__input" placeholder="숙소 이름" value="" required style="height: 30px; width: 340px;" v-model="hotel_name">
												<span class="a-field__label-wrap"></span>
										 </label>
									 	</div>
									</td>
								</tr>
								<tr style="border: 0px">
									<td style="width: 30px; border: 0px"></td>
									<td style="text-align: left; border: 0px">
										<input type="checkbox" name="check_box1" v-model="check_box1" style="display: inline-block; height: auto; appearance: revert"><div style="width: 12px; height: 1px; display: inline-block"></div>
										<span style="font-size: 16px">이용약관에 동의 합니다 (필수) </span>
									</td>
									<td v-if="expand_box1==false" style="width: 80px; cursor:pointer; border: 0px" v-on:click="expand_box1 = true;  expand_box2 = false; expand_box3 = false">
										<span style="font-weight: bold"> 펼쳐보기 ▽ </span>
									</td>
									<td v-else style="width: 80px; cursor:pointer; border: 0px" v-on:click="expand_box1 = false;">
										<span style="font-weight: bold"> 펼쳐보기 △ </span>
									</td>
								</tr>
								<tr v-if="expand_box1">
									<td colspan="3" style="border: 0px; padding: 20px">
										<div style="height: 200px; overflow-y: scroll; text-align: left; border-radius: 4px; background-color: #dedede; padding: 10px;">
                                            <template v-for="text_line in text_box1"><span>{{ text_line }}</span><br></template>
										</div>
									</td>
								</tr>

								<tr style="border: 0px">
									<td style="width: 30px; border: 0px"></td>
									<td style="text-align: left; border: 0px">
										<input type="checkbox" name="check_box2" v-model="check_box2" style="display: inline-block; height: auto; appearance: revert"><div style="width: 12px; height: 1px; display: inline-block"></div>
										<span style="font-size: 16px">개인정보 보호정책에 동의 합니다 (필수) </span>
									</td>
									<td v-if="expand_box2==false" style="width: 80px; cursor:pointer; border: 0px" v-on:click="expand_box2 = true; expand_box1 = false; expand_box3 = false">
										<span style="font-weight: bold"> 펼쳐보기 ▽ </span>
									</td>
									<td v-else style="width: 80px; cursor:pointer; border: 0px" v-on:click="expand_box2 = false">
										<span style="font-weight: bold"> 펼쳐보기 △ </span>
									</td>
								</tr>
								<tr v-if="expand_box2">
									<td colspan="3" style="border: 0px; padding: 20px">
										<div style="height: 200px; overflow-y: scroll; text-align: left; border-radius: 4px; background-color: #dedede; padding: 10px;">
											<template v-for="text_line in text_box2"><span>{{ text_line }}</span><br></template>
										</div>
									</td>
								</tr>

								<tr style="border: 0px">
									<td style="width: 30px; border: 0px"></td>
									<td style="text-align: left; border: 0px">
										<input type="checkbox" name="check_box3" v-model="check_box3" style="display: inline-block; height: auto; appearance: revert"><div style="width: 12px; height: 1px; display: inline-block"></div>
										<span style="font-size: 16px">마케팅 이메일 수신동의 (선택) </span>
									</td>
									<td v-if="expand_box3==false" style="width: 80px; cursor:pointer; border: 0px" v-on:click="expand_box3 = true;  expand_box1 = false; expand_box2 = false">
										<span style="font-weight: bold"> 펼쳐보기 ▽ </span>
									</td>
									<td v-else style="width: 80px; cursor:pointer; border: 0px" v-on:click="expand_box3 = false">
										<span style="font-weight: bold"> 펼쳐보기 △ </span>
									</td>
								</tr>
								<tr v-if="expand_box3">
									<td colspan="3" style="border: 0px; padding: 20px">
										<div style="height: 200px; overflow-y: scroll; text-align: left; border-radius: 4px; background-color: #dedede; padding: 10px;">
											<template v-for="text_line in text_box3"><span>{{ text_line }}</span><br></template>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>


					 <!--		Button Div			 -->
					 <div style="height: 10%; margin-bottom: 5%; width: 96%; text-align: right">
						<div style="display: inline-block">
                                                         <div style="
                                                                display: inline-block;
                                                                width: 100px;
                                                                height: 30px;
                                                                line-height: 30px;
                                                                border-radius: 5px;
                                                                background-color: gray;
                                                                font-size: 16px;
                                                                font-weight: 500;
                                                                letter-spacing: -0.5px;
                                                                text-align: center;
                                                                color: black;
                                                                margin-left: 20px;
                                                                margin-top: 10px;
                                                                margin-bottom: 20px;
                                                                cursor: pointer;
                                                                " onclick="cancelAccountadd()">
                                                                    가입취소
                                                            </div>
                                                        </div>
						 <div style="display: inline-block">
                                                         <div style="
                                                                display: inline-block;
                                                                width: 100px;
                                                                height: 30px;
                                                                line-height: 30px;
                                                                border-radius: 5px;
                                                                background-color: #3c91ff;
                                                                font-size: 16px;
                                                                font-weight: 500;
                                                                letter-spacing: -0.5px;
                                                                text-align: center;
                                                                color: #ffffff;
                                                                margin-left: 20px;
                                                                margin-top: 10px;
                                                                margin-bottom: 20px;
                                                                margin-right: 32px;
                                                                cursor: pointer;
                                                                " onclick="accountAddBtn()">
                                                                    가입신청
                                                            </div>
                                                        </div>
					 </div>
				 </div>
	</div>
</ul>

<div class="copyRight"><span>MINDsLab © 2020</span></div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js'></script>
<script src='./js/rel_law_val.js'></script>
<script src='./js/login_script.js'></script>
<script type="text/javascript" src="js/overall_login_hoss.js"></script>
</body>
</html>
