.media_query_dashboard {
    margin-left: 232px;
    margin-right: 8px;
    text-align: center;
}
.divide_div {
    width: 96%;
    margin: 10px;
    display: inline-block;
}
.canvas_div {
    width: 94%;
    margin: 10px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    background-color: white;
    border-radius: 10px;
    display: inline-block;
}

.divided {
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    background-color: white;
    border-radius: 10px;
    width: 49%;
    display: inline-block;
    overflow-y: hidden;
}

.divided_non_style {
    width: 49%;
    display: inline-block;
    height: 223px;
    overflow-y: hidden;
    overflow-x: hidden;
    vertical-align: center;
}

.canvas_non_div{
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    background-color: white;
    border-radius: 10px;
    width: 98%;
    display: inline-block;
}


@media screen and (min-width: 1000px) and (max-width: 1300px)  {
    .divide_div {
        width: 94%;
    }
    .divided{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .divided_non_style{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .canvas_non_div{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 1000px){
    .divide_div {
        width: 94%;
    }
    .divided{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .divided_non_style{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .canvas_non_div{
        margin-top: 0px;
        margin-bottom: 0px;
    }

}