
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 260px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 10000; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #212120; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: 0;

}

.menudiv {
    /*background-color:#6d98fa;*/
    margin: 2px;
    padding: 3px;
    margin-left: 20px;
    vertical-align: center;
}

.menuspan{
    transition: 0.25s;
    font-size: 16px;
    color: white;
    font-family: "Nanum Gothic", sans-serif;
    padding-bottom: 5px;
    display: inline-block;
    cursor: pointer;
}

.menuspan:hover{
    color: gray;
}

.menuspan_nonhover{
    transition: 0.25s;
    font-size: 16px;
    color: white;
    font-family: "Nanum Gothic", sans-serif;
    padding-bottom: 5px;
    display: inline-block;
}

.menuimg{
    transition: 0.25s;
    filter: invert(100%);
    display: inline-block;
    cursor:pointer;
}

.menuimg:hover{
    filter: invert(50%);
}

.menuimg_nonhover{
    transition: 0.25s;
    filter: invert(100%);
    display: inline-block;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}