.occ1{
    background-color: rgb(218, 255, 219);
}
.occ2{
    background-color: rgb(255, 250, 179);
}
.occ3{
    background-color: rgb(255,35,35);
    color: white;
}
.occ_default{
    background-color: rgb(170, 170, 170);
}
.clickable:hover{ cursor: pointer;

}
.occinput_1{
    font-size: 20px;
    border: #888888 0px solid;
    background-color: rgb(231, 231, 231);
    text-align: end;
    width: 50px;

}

.occinput_2{
    font-size: 20px;
    border: #888888 0px solid;
    background-color: rgb(231, 231, 231);
    text-align: end;
    width: 100px;
}

.login_input{
    border-radius: 12px;
    border: 2px solid #BBBBBB;
    padding: 15px;
    width: 200px;
    height: 15px;
    font-size: 16px;
}


.colorinput{
    font-size: 16px;
    border: #888888 0px solid;
    background-color: #f0f0f0;
    text-align: end;
    width: 40px;
}




.list {
    list-style: none;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}
.list > li {
    padding: 0;
}
.list-checkbox {
    display: none;
}
.title {
    padding: 10px;
    margin: 0;
    border-top: 1px solid #ddd;
    background: #f4f4f4;
    cursor: pointer;
    display: block;
    font-weight: bolder;
}
.desc {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}
.desc > div {
    margin: 10px;
}
.list-checkbox:checked + .title + .desc {
    max-height: 1000px;
}



.alarm_indicator{
    position: absolute;
    top: 5px;
    right: 10px;
    font-family: 'Titillium Web', sans-serif;
    color: black;
    font-weight: bolder;
    font-size: 16px;
    display: inline-block;
    background-color: red;
    border-radius: 30%;
    padding: 1px;
    padding-right: 3px
}


.top_timeline{
    position: fixed; /* Sit on top of the page content */
    width: 680px;
    max-height: 500px; /* Full height (cover the whole page) */
    top: 60px;
    right: 0px;
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.top_profile_layout_tpl{
    position: fixed; /* Sit on top of the page content */
    width: 200px;
    height: 120px; /* Full height (cover the whole page) */
    top: 60px;
    right: 0px;
    text-align: center;
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.right_policy_subtitle{
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:15px;
    background-color: rgb(206, 206, 206);
}



.top_alarm{
    vertical-align: middle;
    padding-right: 24px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.25s;
}

.top_alarm:hover{
    filter:invert(40%);
    transform: rotate( -30deg );
}

.top_profile{
    vertical-align: middle;
    padding-right: 18px;
    padding-top: 10px;
    position: relative;
    display: inline-block;
    cursor:pointer;
    transition: 0.25s;
}

.top_profile:hover{
    filter:invert(40%);
    transform: rotate( -30deg );
}
