/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    bottom: 100%;
    left: 50%;
    margin-left: -160px; /* Use half of the width (200/2 = 100), to center the tooltip */
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10002;
    font-size: 14px;
    font-weight: normal;
  }

  
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    /*z-index: 999;*/
  }









  /* Tooltip container */
.tooltip2 {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  /* Tooltip text */
  .tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 320px;
    top: 100%;
    left: 50%;
    margin-left: -160px; /* Use half of the width (200/2 = 100), to center the tooltip */
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10002;
    font-size: 14px;
    font-weight: normal;
  }



  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip2:hover .tooltiptext2 {
    visibility: visible;
  }

  .tooltip2 .tooltiptext2::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    /*z-index: 999;*/
  }


